<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Table</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboardActivite">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Etape</li>
  </ul>
  <div class="section-body">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10">
            <div class="row">
              <div class="col-lg-6">
                <div class="row m-0">
                  <div class="col-auto p-0">
                    <div class="ngxTableHeader">
                      <div class="table-title">
                        <!--                        <h2><strong>Advance Table</strong></h2>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-search-area">
                        <div>
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Recherche" type="text" class="browser-default search-field"
                                 (keyup)='filterDatatable($event)' aria-label="Search box">
                        </div>
                      </div>
                      <div class="header-buttons-left">
                        <div class="tbl-btn-style">
                          <button
                            *ngIf="useRole.includes('PERSONNEL')"
                            class="btn btn-icon icon-left bg-warning text-white rounded-button" (click)='addRow(addRecord)'>
                            <i class="material-icons">add</i>
                          </button>
                          <button class="btn btn-dark" (click)="liste()">
                            <i class="fas fa-file"></i>
                            Liste Globale
                          </button>
                          <button [hidden]=!isRowSelected class="btn btn-icon icon-left btn-danger rounded-button"
                                  (click)='deleteSelected()'>
                            <i class="material-icons">delete</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ngx-datatable #table class="material" [rows]="etape" [loadingIndicator]="loadingIndicator"
                           columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                           [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                           [selectionType]="selection" (select)='onSelect($event)'>
              <ngx-datatable-column *ngIf="useRole.includes('PERSONNEL')" [width]="70" [sortable]="false" [draggable]="false" [resizeable]="false"
                                    [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="false">
              </ngx-datatable-column>
              <ngx-datatable-column [width]="200" name="Nom">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.nom}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="200" name="Statut">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  @if (row.statut === 'En_Cours') {
                    <div class="badge-outline col-green">{{row.statut}}
                    </div>
                  }
                  @if (row.statut === 'Termine') {
                    <div class="badge-outline col-red">{{row.statut}}
                    </div>
                  }
                  @if (row.statut === 'En_Attente') {
                    <div class="badge-outline col-indigo">{{row.statut}}
                    </div>
                  }
                </ng-template>
              </ngx-datatable-column>

              <!--              <ngx-datatable-column [width]="200" name="Date Début">-->
              <!--                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>-->
              <!--                  <div class="name-col-style">-->
              <!--                    <div>{{row.dateDebut}}</div>-->
              <!--                  </div>-->
              <!--                </ng-template>-->
              <!--              </ngx-datatable-column>-->
              <ngx-datatable-column name="Actions" [sortable]="false">
                <ng-template let-value="value" let-row="row" let-rowNom let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>
                    <button *ngIf="useRole.includes('PERSONNEL') && currentUserId===row.created_by.id" class="btn btn-tbl-edit h-auto" (click)='editRow(row, rowIndex, editRecord)'>
                      <i class="fas fa-pen"></i>
                    </button>
                        <button  class="btn btn-tbl-edit h-auto" (click)='detailRow(row, rowIndex, detailRecord)'>
                      <i class="fas fa-eye"></i>
                    </button>
                    <button
                      *ngIf="useRole.includes('PERSONNEL') && currentUserId===row.created_by.id"
                      class="btn btn-tbl-edit h-auto" (click)='fileUpload(infoModal, row.id, row.nom)'
                            title="Importer des participants">
                      <i class="fas fa-upload"></i>
                    </button>
                    <button *ngIf="useRole.includes('PERSONNEL') && currentUserId===row.created_by.id" class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                      <i class="far fa-trash-alt"></i>
                    </button>

               
  <button *ngIf="hasListeDebut(row)" title="Voir Liste de debut" class="btn btn-warning mr-3" (click)='openListeDebut(row)'>
     <i class="far fa-file"></i>
  </button>

  <button *ngIf="hasListeResultat(row)"  title="Voir liste de sortie" class="btn btn-dark" style="margin-left: 7px" (click)='filterByResultat(row)'>
     <i class="far fa-file"></i>
  </button>

                  </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>



            <!-- Add Record Modal Window -->
            <ng-template #addRecord let-modal>
              <div class="modal-header editRowModal">
              <h4> <div class="table-modal-header">
                        Ajouter une Étape
                      </div></h4>              
             
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>
              <div class="modal-body">
                <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
                  <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Nom <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" placeholder="Nom etape" formControlName="nom"
                             required>
                      @if (!register.get('nom')?.valid && register.get('nom')?.touched) {
                        <small class="form-text text-danger"> Nom etape est obligatoire</small>
                      }
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Date Début <span class="text-danger">*</span></label>
                      <input type="date" class="form-control" placeholder="Date debut" formControlName="dateDebut"
                           (change)="onDateDebutChange()" required>
                      @if (!register.get('dateDebut')?.valid && register.get('dateDebut')?.touched) {
                        <small class="form-text text-danger"> Date est obligatoire</small>
                      }
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Date Fin <span class="text-danger">*</span></label>
                      <input type="date" class="form-control" placeholder="Date fin" formControlName="dateFin"
                            [min]="minDateFin" required>
                      @if (!register.get('dateFin')?.valid && register.get('dateFin')?.touched) {
                        <small class="form-text text-danger"> Date Fin est obligatoire</small>
                      }
                    </div>
                  </div>
<!-- AJOUT ACTIVITE -->
<div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                      <label>Activité...</label>
                      <select class="form-select form-control" formControlName="activite" >
                        <option value="" [ngValue]="null" disabled>-- Sélectionnez une activité --</option>
                        <option *ngFor="let activite of activites"  [value]="activite.id">{{activite.nom}}</option>
                      </select>
                    </div>

<!--                  <div class="row">-->
                    <div class="form-group">
                      <label class="d-block">Critere <span class="text-danger">*</span></label>
                      <div *ngFor="let criteres of critere" class="form-check form-check-inline">
                        <input  type="checkbox" [value]="criteres.id" (change)="onCheckboxChange($event)">
                        <label class="form-check-label">{{ criteres.libelle }}</label>
                      </div>
                    </div>
<!--                  </div>-->

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" [disabled]="!register.valid || loadingIndicator">
                      <span *ngIf="loadingIndicator" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      {{ loadingIndicator ? 'Chargement...' : 'Enregistre' }}
                    </button>

                    <button type="button" class="btn btn-dark text-white" (click)="modal.close('Close click')">Fermer</button>
                  </div>
                </form>
              </div>
            </ng-template>
            <!-- Edit Record Modal Window -->
            <ng-template #editRecord let-modal>
              <div class="modal-header editRowModal">
                <h4  id="modal-basic-title1">
                  Modification de l'etape:
                     
                </h4>
                <h4 class="modal-title" id="modal-basic-title">
                  <!-- <div class="table-modal-header"> -->
                    <!-- <div class="modal-about"> -->
                     <!-- <div class="fw-bold p-t-10 font-17"> -->
                       {{selectedRowData!.nom}}
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
                
              </div>
              <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
                  <div class="input-field col s12 d-none">
                    <input formControlName="id" class="form-control" type="hidden">
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Nom <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" placeholder="Nom etape" formControlName="nom"
                             required>
                      @if (!register.get('nom')?.valid && register.get('nom')?.touched) {
                        <small class="form-text text-danger"> Nom etape est obligatoire</small>
                      }
                    </div>
                                                        
                  </div>

                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Date Début <span class="text-danger">*</span></label>
                      <input type="date" class="form-control" placeholder="Date debut" formControlName="dateDebut"
                             required>
                      @if (!register.get('dateDebut')?.valid && register.get('dateDebut')?.touched) {
                        <small class="form-text text-danger"> Date est obligatoire</small>
                      }
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Date Fin <span class="text-danger">*</span></label>
                      <input type="date" class="form-control" placeholder="Date fin" formControlName="dateFin"
                             required>
                      @if (!register.get('dateFin')?.valid && register.get('dateFin')?.touched) {
                        <small class="form-text text-danger"> Date Fin est obligatoire</small>
                      }
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                      <label>Activité...</label>
                      <select class="form-select form-control" formControlName="activite" >
                        <option value="" [ngValue]="null" disabled>-- Sélectionnez une activité --</option>
                        <option *ngFor="let activite of activites"  [value]="activite.id">{{activite.nom}}</option>
                      </select>
                    </div>
                  <div class="form-group">
                    <label class="d-block">Critere <span class="text-danger">*</span></label>
                    <div *ngFor="let criteres of critere" class="form-check form-check-inline">
                      <input [checked]="isCritereSelected(criteres.id)"  type="checkbox" [value]="criteres.id" (change)="onCheckboxChange($event)">
                      <label class="form-check-label">{{ criteres.libelle }}</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <!-- [disabled]="!register.valid || loadingIndicator" a mettre dans bouton -->
                    <button type="submit" class="btn btn-warning" [disabled]="!editForm.valid || loadingIndicator">
                      <span *ngIf="loadingIndicator" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      {{ loadingIndicator ? 'Chargement...' : 'Enregistre' }}
                    </button>
                    <button type="button" class="btn btn-dark text-white" (click)="modal.close()">Fermer</button>
                  </div>
                </form>
              </div>
            </ng-template>

             <!-- Detail Record Modal Window -->
            <ng-template #detailRecord let-modal>
              <div class="modal-header editRowModal">
                <h4  id="modal-basic-title1">
                  Détails de l'etape:                     
                </h4>
                <h4 class="modal-title" id="modal-basic-title">
                  <!-- <div class="table-modal-header"> -->
                    <!-- <div class="modal-about"> -->
                     <!-- <div class="fw-bold p-t-10 font-17"> -->
                       {{selectedRowData!.nom}}
                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
                
              </div>
              <div class="modal-body">
                <form [formGroup]="editForm" >
                  <div class="input-field col s12 d-none">
                    <input formControlName="id" class="form-control" type="hidden">
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Nom </label>
                      <input readonly type="text" class="form-control" placeholder="Nom etape" formControlName="nom"
>                     
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Date Début</label>
                      <input type="date" class="form-control" placeholder="Date debut" formControlName="dateDebut"
                             readonly>
                     
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <label>Date Fin</label>
                      <input type="date" class="form-control" placeholder="Date fin" formControlName="dateFin"
                             readonly>
                     
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12 mb-2">
                      <label>Activité...</label>
                      <select class="form-select form-control readonly-select" formControlName="activite" >
                        <option value="" [ngValue]="null" disabled>-- Sélectionnez une activité --</option>
                        <option *ngFor="let activite of activites"  [value]="activite.id">{{activite.nom}}</option>
                      </select>
                    </div>

                  <div class="form-group">
                    <label class="d-block">Critere</label>
                    <div *ngFor="let criteres of critere" class="form-check form-check-inline">
                      <input class="readonly-select" [checked]="isCritereSelected(criteres.id)"  type="checkbox" [value]="criteres.id" (change)="onCheckboxChange($event)">
                      <label class="form-check-label">{{ criteres.libelle }}</label>
                    </div>
                  </div>
                  <div class="modal-footer">                              
                    <button type="button" class="btn btn-dark text-white" (click)="modal.close()">Fermer</button>
                  </div>
                </form>
              </div>
            </ng-template>

            <ng-template #infoModal let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <div class="modal-about">
                      <div class="fw-bold p-t-10 font-17">
                        Importer des Participants pour l'Étape {{ currentEtapeNom }}
                      </div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>
              <div class="modal-body">
                <form>
<!--                  <div class="input-field col s12 d-none">-->
<!--                    <input formControlName="id" class="form-control" type="hidden">-->
<!--                  </div>-->
                  <div class="row">
                    <div class="form-group">
                      <label>Sélectionnez un ou plusieurs fichiers</label>
                      <input accept=".csv, .xlsx" multiple type="file" (change)="onFileSelected($event)" class="form-control">
                    </div>
                    <div *ngIf="selectedFile && selectedFile.length > 0" class="mt-2 text-gray-600">
                      Fichiers sélectionnés :
                      <ul>
                        <li *ngFor="let file of selectedFile" class="font-semibold">{{ file.name }}</li>
                      </ul>
                    </div>
                  </div>

                  <div class="modal-footer">

                    <button type="submit" class="btn btn-warning" [disabled]="!selectedFile || selectedFile.length === 0 || loadingIndicator" (click)="uploadFiles(true)">
                      <span *ngIf="loadingIndicator" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      {{ loadingIndicator ? 'Chargement...' : 'importer liste début' }}
                    </button>

                    <button type="submit" class="btn btn-dark" [disabled]="!selectedFile || selectedFile.length === 0 || loadingIndicator" (click)="uploadFiles(false)">
                      <span *ngIf="loadingIndicator" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      {{ loadingIndicator ? 'Chargement...' : 'importer liste résultat' }}
                    </button>

<!--                    <button type="button" class="btn btn-dark text-white" (click)="modal.close()">Fermer</button>-->
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <app-liste-globale></app-liste-globale>-->
</section>

