<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Table</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboardActivite">
        <i class="fas fa-home font-17"></i></a>
    </li>
    <li class="breadcrumb-item">Validation Activité</li>
  </ul>
  <div class="section-body">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10">
            <div class="row">
              <div class="col-lg-6">
                <div class="row m-0">
                  <div class="col-auto p-0">
                    <div class="ngxTableHeader">
                      <div class="table-title">
                        <!--                        <h2><strong>Advance Table</strong></h2>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-search-area">
                        <div>
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Rechercher" type="text" class="browser-default search-field"
                                 (keyup)='filterDatatable($event)' aria-label="Search box">
                        </div>
                      </div>
                      <div class="header-buttons-left">
                        <div class="tbl-btn-style">
                          
                          <button [hidden]=!isRowSelected class="btn btn-icon icon-left btn-danger rounded-button"
                                  (click)='deleteSelected()'>
                            <i class="material-icons">delete</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ngx-datatable #table class="material" [rows]="activiteval" [loadingIndicator]="loadingIndicator"
                           columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                           [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                           [selectionType]="selection" (select)='onSelect($event)'>
              <ngx-datatable-column [width]="70" [sortable]="false" [draggable]="false" [resizeable]="false"
                                    [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="true">
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Nom">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.nom}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
<!--              <ngx-datatable-column [width]="150" name="Titre">-->
<!--                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>-->
<!--                  <div class="name-col-style">-->
<!--                    <div>{{row.titre}}</div>-->
<!--                  </div>-->
<!--                </ng-template>-->
<!--              </ngx-datatable-column>-->
              <ngx-datatable-column [width]="150" name="Lieu">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.lieu}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
             
              <ngx-datatable-column [width]="150" name="Statut Demarrage">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>

                    @if (row.statut === 'En_Cours') {
                      <div class="badge-outline col-green">{{row.statut}}
                      </div>
                    }
                    @if (row.statut === 'Termine') {
                      <div class="badge-outline col-red">{{row.statut}}
                      </div>
                    }
                    @if (row.statut === 'En_Attente') {
                      <div class="badge-outline col-indigo">{{row.statut}}
                      </div>
                    }
<!--                  </div>-->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Objectif">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.objectifParticipation}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Entite">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.entite?.nom}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Type Activite">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.typeActivite?.type}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [width]="150" name="Salle">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.salleId?.nom}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" [sortable]="false">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>       
                     <!-- *ngIf="useRole.includes('PERSONNEL') && idsuperviseur===currentUserId && idsuperviseur!==null && row.statut==='En_Cours'"              -->
                    <button title="Apporter une validation"
                      *ngIf="useRole.includes('PERSONNEL') && idsuperviseur===currentUserId && idsuperviseur!==null && row.statut!=='Termine'"
                      class="btn btn-tbl-edit h-auto" (click)='editRowValidation(row,validationModal)'>
                      <i class="fas fa-pen"></i>
                    </button>
                    <button title="Voir les détails"
                      *ngIf="useRole.includes('PERSONNEL')"
                      class="btn btn-tbl-edit h-auto" (click)='editRow2(row,editRecord)'>
                      <i class="fas fa-eye" ></i>
                    </button>           
              
                    <!-- <button 
                      *ngIf="useRole.includes('PERSONNEL')"
                      class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                      <i class="far fa-trash-alt"></i>
                    </button> -->
                  </span>
                  <!-- Message si aucune étape n'est disponible pour l'activité -->
                  <div *ngIf="!row.activitevalidation || row.activitevalidation.length === 0" colspan="7" class="text-danger">
                    Activité n'a pas d'étapes.
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
         <!-- Modal détails -->
            <!-- <div class="modal-content">  -->
          <ng-template #editRecord let-modal >
                       
                <!-- <div class="modal-dialog modal-lg"> -->
                <div class="modal-header editRowModal">
                  <h4 class="modal-title" id="modal-basic-title">
                  Détails de l’activité
                  </h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                  </button>
                </div>

            <div class="modal-body">
              <h5>{{ selectedActivite?.nom }}</h5>
              <p><strong>Lieu :</strong> {{ selectedActivite?.lieu }}</p>
              <p><strong>Description :</strong> {{ selectedActivite?.description }}</p>
              <p><strong>Date :</strong> {{ selectedActivite?.dateDebut | date }} → {{ selectedActivite?.dateFin | date }}</p>
              <hr>
              <h4 style="color: orange;">Validations associées</h4>
          <div class="table-responsive">   
              <table class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th>Commentaire</th>
                    <th>Statut</th>
                    <th>Expediteur</th>
                    <th>Superviseur</th>
                    <th>Date</th>
                    <th>Fichier joint</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let val of selectedRowData?.activitevalidation">
                    <td >{{val.commentaire }}</td>
                    <td>{{ val.statut }}</td>
                    <td>{{ val.envoyeurId ? envoyeurMap[val.envoyeurId] : '—'  }}</td>
                    <td>{{ val.superviseurId ? superviseurMap[val.superviseurId] : '—' }}</td>
                    <td>{{ val.date | date: 'dd/MM/yyyy' }}</td>
                    <td>     
                        <button title="Télécharger le fichier joint"
                                *ngIf="val.fichierjoint"
                                class="btn btn-tbl-dowload h-auto" (click)="downloadOrOpenFile(val.id!)" target="_blank" download>
                                <i class="fas fa-download" ></i>
                              </button>
                      <span *ngIf="!val.fichierjoint">  —  </span>
                   
                    </td>
                  <td> <button *ngIf="val.canDelete"
                      class="btn btn-danger btn-sm"
                      (click)="deleteValidation(val.id!)"
                      title="Supprimer ma validation">
                      <i class="fas fa-trash"></i>
                    </button></td>
        
      
                    </tr>
                </tbody>
              </table>
              </div>
            </div>
<!-- </div> -->
<!-- </div> -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Fermer</button>
            </div>
            </ng-template>
            <!-- </div> -->
             <!-- Modal validation -->
              <ng-template #validationModal let-modal>
                <div class="modal-header">
                  <h5 class="modal-title">Validation de l’activité</h5>
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
                </div>

                <form [formGroup]="validationForm" (ngSubmit)="onValidate()" enctype="multipart/form-data">
                  <div class="modal-body">
                    <h5>{{ selectedActivite?.nom }}</h5>
                    <!-- Détails de l'activité -->
                    <div class="mb-3">
                      <label>Titre :</label>
                      <div>{{ selectedActivite?.titre }}</div>
                    </div>

                    <div class="mb-3">
                      <label>Description :</label>
                      <div>{{ selectedActivite?.description }}</div>
                    </div>

                    <div class="mb-3">
                      <label>Date :</label>
                      <div>{{ selectedActivite?.dateDebut | date:'dd/MM/yyyy' }} -> {{ selectedActivite?.dateFin | date:'dd/MM/yyyy' }}</div>
                    </div>
                    <hr />

                    <!-- Décision -->
                    <div class="mb-3">
                      <label>Décision :</label>
                      <select class="form-select" formControlName="statut">
                        <option value="">-- Choisir --</option>
                        <option value="Valider">Valider</option>
                        <option value="Rejeter">Rejeter</option>
                      </select>
                      <small *ngIf="validationForm.get('validation')?.touched && validationForm.get('validation')?.invalid" class="text-danger">
                        La décision est requise
                      </small>
                    </div>

                            <!-- Autre superviseur -->   
                                
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                  <label>Superviseur / Valideur</label>                    
                                  <select class="form-select form-control" formControlName="superviseurId" (change)="onSuperviseurSelectedVal($event)">
                                    <option value="">-- Sélectionnez un superviseur --</option>
                                    <option *ngFor="let user of utilisateursPersonnels" [value]="user.id">
                                      {{ user.nom }} {{ user.prenom }}
                                    </option>
                                  </select>
                                </div>
              <!-- Commentaire -->
                                <div *ngIf="showCommentaire" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                  <label>Commentaire du superviseur</label>
                                  <textarea class="form-control"
                                            rows="3"
                                            placeholder="Ajouter un commentaire..."
                                            formControlName="commentaire">
                                  </textarea>
                                </div>
                                <!-- file -->
                                <div class="form-group mt-3">
                                  <label for="fichier">Fichier joint :</label>
                                  <input 
                                    type="file"
                                    id="fichierjoint"
                                    (change)="onFileSelectedVal($event)"
                                    accept=".pdf,.png,.jpg,.jpeg,.docx"
                                    class="form-control"
                                  />
                
              </div>

                <div *ngIf="selectedFile" class="mt-2 text-success">
                  <small>Fichier sélectionné : {{ selectedFile.name }}</small>
                </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
                    <button type="submit" class="btn btn-primary" [disabled]="validationForm.invalid">
                      Enregistrer
                    </button>
                  </div>
                </form>
              </ng-template>

         <!-- fin -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

