<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Table</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>
<!--    <li class="breadcrumb-item">Admin</li>-->
    <li class="breadcrumb-item">Utilisateur</li>
  </ul>
  <div class="section-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="col-lg-8 p-0">
              <div class="ngxTableHeader">
                <div class="table-search-area">
                  <div>
                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                    <input placeholder="Recherche" type="text" class="browser-default search-field"
                           (keyup)='filterDatatable($event)'   aria-label="Search box">
                  </div>
                </div>
<!--                <div class="header-buttons-left">-->
                <div class="tbl-btn-style">
                  <button class="btn btn-icon icon-left rounded-button btn-warning d-flex align-items-center justify-content-center" (click)="addRow(addRecord)">
                    <i class="material-icons">add</i>
                  </button>
                </div>
<!--                </div>-->
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row g-6">
              <div *ngFor="let row of users" class="col-md-4">
                <div class="card border-apply">
                  <div class="m-b-10">
                    <div class="contact-grid">
                      <div class="profile-header l-bg-orange">
                        <div class="user-name">{{ row.nom }}</div>
                        <div class="name-center">{{ row.prenom }}</div>
                      </div>
                      <img *ngIf="row.genre==='Homme'" src="assets/images/users/userhomme.png" class="user-img" alt="">
                      <img *ngIf="row.genre==='Femme'" src="assets/images/users/userfemme.png" class="user-img" alt="">

                      <p>
                        {{ row.email }}
                        <br />{{ row.role?.nom }}
                      </p>
                      <div>
                      <span class="phone">
                        <i class="material-icons">phone</i>{{ row.phone }}
                      </span>
                      </div>

                      <span>
                        <button class="btn btn-tbl-edit h-auto" (click)='editRow(row,editRecord)'>
                          <i class="fas fa-pen"></i>
                        </button>
                        <button class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </span>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Record Modal Window -->
          <ng-template #addRecord let-modal>
            <div class="modal-header editRowModal">
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true"><i class="material-icons">close</i></span>
              </button>
            </div>
            <div class="modal-body">
              <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Nom <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Nom" formControlName="nom"
                           required>
                    @if (!register.get('nom')?.valid && register.get('nom')?.touched) {
                      <small class="form-text text-danger"> Le nom est obligatoire</small>
                    }
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Prenom<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom">
                    @if (!register.get('prenom')?.valid && register.get('prenom')?.touched) {
                      <small class="form-text text-danger"> Prenom est obligatoire</small>
                    }
                  </div>
                </div>


                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="mail" class="form-control" placeholder="Email" formControlName="email"
                           required>
                    @if (!register.get('email')?.valid && register.get('email')?.touched) {
                      <small class="form-text text-danger"> L'email est obligatoire</small>
                    }
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Phone<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
                    @if (!register.get('phone')?.valid && register.get('phone')?.touched) {
                      <small class="form-text text-danger"> Phone est obligatoire</small>
                    }
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Genre <span class="text-danger">*</span></label>
                    <select class="form-select form-control" formControlName="genre" required>
                      <option value="" selected disabled>Selectionner genre</option>
                      <option *ngFor="let status of genre" [value]="status">{{status}}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Entite <span class="text-danger">*</span></label>
                    <select class="form-select form-control" formControlName="entite" required>
                      <option value="" selected disabled>Selectionner une entite</option>
                      <option *ngFor="let entite of entite"  [value]="entite.id">{{entite.nom}}</option>
                    </select>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <label>Role<span class="text-danger">*</span></label>
                    <select class="form-select form-control" formControlName="role" required>
                      <option value="" selected disabled>Selectionner un role</option>
                      <option *ngFor="let roles of role"  [value]="roles.id">{{roles.nom}}</option>
                    </select>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-warning text-white" [disabled]="!register.valid || loadingIndicator">
                    <span *ngIf="loadingIndicator" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    {{ loadingIndicator ? 'Chargement...' : 'Enregistre' }}
                  </button>

                  <button type="button" class="btn btn-dark text-white" (click)="modal.close('Close click')">Fermer</button>
                </div>
              </form>
            </div>
          </ng-template>


          <ng-template #editRecord let-modal>
            <div class="modal-header editRowModal">
              <h4 class="modal-title" id="modal-basic-title">
                <div class="table-modal-header">
                  <div class="modal-about">
                    <div class="fw-bold p-t-10 font-17">
                      {{selectedRowData!.nom}}
                    </div>
                  </div>
                </div>
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true"><i class="material-icons">close</i></span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
                <div class="input-field col s12 d-none">
                  <input formControlName="id" class="form-control" type="hidden">
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Nom <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Nom du role" formControlName="nom"
                           required>
                    @if (!editForm.get('nom')?.valid && editForm.get('nom')?.touched) {
                      <small class="form-text text-danger"> Le nom et
                        obligatoire</small>
                    }
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Prenom<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom">
                    @if (!register.get('prenom')?.valid && register.get('prenom')?.touched) {
                      <small class="form-text text-danger"> Prenom est obligatoire</small>
                    }
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="mail" class="form-control" placeholder="Email" formControlName="email"
                           required>
                    @if (!register.get('email')?.valid && register.get('email')?.touched) {
                      <small class="form-text text-danger"> L'email est obligatoire</small>
                    }
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Phone<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
                    @if (!register.get('phone')?.valid && register.get('phone')?.touched) {
                      <small class="form-text text-danger"> Phone est obligatoire</small>
                    }
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Genre <span class="text-danger">*</span></label>
                    <select class="form-select form-control" formControlName="genre" required>
                      <option value="" selected disabled>Selectionner genre</option>
                      <option *ngFor="let status of genre" [value]="status">{{status}}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <label>Entite <span class="text-danger">*</span></label>
                    <select class="form-select form-control" formControlName="entite" required>
                      <option value="" selected disabled>Selectionner une entite</option>
                      <option *ngFor="let entite of entite"  [value]="entite.id">{{entite.nom}}</option>
                    </select>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                    <label>Role<span class="text-danger">*</span></label>
                    <select class="form-select form-control" formControlName="role" required>
                      <option value="" selected disabled>Selectionner un role</option>
                      <option *ngFor="let roles of role"  [value]="roles.id">{{roles.nom}}</option>
                    </select>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-warning" [disabled]="register.valid || loadingIndicator">
                    <span *ngIf="loadingIndicator" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                    {{ loadingIndicator ? 'Chargement...' : 'Enregistre' }}
                  </button>
                  <button type="button" class="btn btn-dark text-white" (click)="modal.close()">Fermer</button>
                </div>
              </form>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
