<div class="main-content">
  <div class="reportinghebdo-theme">

    <h4 class="title">Reporting Hebdomadaire</h4>

    <!-- Filtres -->
    <div class="filters">

      <select
        class="form-select"
        [(ngModel)]="selectedEntite"
      >
        <option [ngValue]="null">Sélectionner une entité</option>
        <option *ngFor="let e of entites" [ngValue]="e.id">
          {{ e.nom }}
        </option>
      </select>

      <input
        type="date"
        class="form-control"
        [(ngModel)]="dateDebut"
      >

      <input
        type="date"
        class="form-control"
        [(ngModel)]="dateFin"
      >

      <button
        class="btn btn-primary"
        [disabled]="!selectedEntite || !dateDebut || !dateFin"
        (click)="loadActivites()"
      >
        Rechercher
      </button>

    </div>

    <!-- Tableau (s'affiche seulement si données) -->
    <div
      class="table-wrapper"
      *ngIf="hasSearched && activites.length > 0"
    >
      <table class="table-reporting">
        <thead>
          <tr>
            <th>Nom de la formation </th>
            <th>Titre</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Statut</th>
            <th>Lieu</th>
            <th>Nombre de participant</th>
            <th>cible</th>
            <th>Tranche âge</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let a of activites">
            <td>{{ a.nom }}</td>
            <td>{{ a.titre }}</td>
            <td>{{ a.dateDebut | date:'dd/MM/yyyy' }}</td>
            <td>{{ a.dateFin | date:'dd/MM/yyyy' }}</td>
            <td>{{ a.statut }}</td>
            <td>{{ a.lieu }}</td>
            <td>{{ a.objectifParticipation }}</td>
            <td>Etudiant-Professionnel</td>
            <td>20-35</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Message si aucune donnée -->
    <p
      class="empty"
      *ngIf="hasSearched && activites.length === 0"
    >
      Aucune activité trouvée
    </p>

  </div>
</div>
